body {
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #9ae456, #7bfae9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main{
  width: 300px;
  margin: 0 800px 100px;
}

div.board{
  display: grid;
  border: 2px solid #ffffff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #2b2b2b;
}

div.square{
  width: 100px;
  height: 100px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  font-size: 3.5rem;
  text-align: center;
}

div.result{
  font-size: 2rem;
  padding: 10px;

}

div.result.green{
  background-color: rgb(38, 175, 38);
  text-align: center;
}

div.result.red{
  background-color: rgb(222, 38, 38);
  text-align: center;
}

div.result.orange{
  background-color: rgb(222, 137, 25);
  text-align: center;
}

.scoreboard {
  margin-top: 20px;
}

button {
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #3f3f3f;
}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 2em;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.square:hover {
  background-color:rgb(177, 177, 177);
  transform: scale(1.05);
}

.result {
  margin-top: 20px;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 5px;
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
